.card{
    margin: 20px 0;
}

.jumbotron{
    margin-top: 20px;
}

#deleteCamp{
    display: inline;
    /*color: white;*/
}

/*#deleteComment{*/
/*    display: inline;*/
/*    color: white;*/
/*    font-size: 10px*/
/*}*/